@model List<Contact>
@{
    ViewData["Title"] = "My Contacts";
}

<h2>Contact List</h2>

<a asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Contact" asp-action="Details"
                    asp-route-id="@contact.ContactId">@contact.FName</a>
                </td>
                <td>
                    <a asp-controller="Contact" asp-action="Details"
                       asp-route-id="@contact.ContactId">@contact.LName</a>
                </td>
                <td>@contact.PNumber</td>
                <td>@contact.Email</td>
                <td>@contact.Category.Name</td
            </tr>
        }
    </tbody>
</table>