@model Contact
@{
    string title = ViewBag.Action + " Contact";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Name:</th>
        <td>@Model.FName @Model.LName</td>
    </tr>
    <tr>
        <th>Phone:</th>
        <td>@Model.PNumber</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>@Model.Category.Name</td>  <!-- Display the category name -->
    </tr>
    <tr>
        <th>Organization:</th>
        <td>@Model.Organization</td>
    </tr>
    <tr>
        <th>Date added:</th>
        <td>@Model.DateAdded</td>
    </tr>
</table>

<a asp-controller="Contact" asp-action="Edit" asp-route-id="@Model.ContactId">Edit</a>
<a asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.ContactId">Delete</a>
<a asp-controller="Home" asp-action="Index">Home</a>